<%= form_tag admin_sessions_path, :class => 'form-signin' do %>
  <h2 class="form-signin-heading">Troy's Blog</h2>
  <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <div class="container">
    <div class="user-signin">
      <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: 'Email' %>
      <%= password_field_tag :password, '', class: 'form-control', placeholder: 'Password' %>
      <%= submit_tag "Log in", class: 'btn btn-lg btn-primary btn-block' %>
    </div>
  </div> <!-- /container -->

<% end %>
