<div class="contact-container">
    <p class="contact-title">
        Contact Me
    </p>

    <div class="row">
        <div class="col-md-12">
            <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
                <div class="col-sm-8">
                    <%= f.input :name, :required => true %>
                </div>
                <div class="col-sm-8">
                    <%= f.input :email, :required => true %>
                </div>
                <div class="col-sm-12">
                    <%= f.input :message, :as => :text, :required => true, input_html: {:class=> "contact-message-box"} %>
                </div>
                <div class= "hidden">
                    <%= f.input :nickname, :hint => 'Leave this field blank!' %>
                </div>
                <div class="col-sm-12">
                    </br>
                    <%= f.button :submit, 'Send message', :class=> "btn btn-primary  pull-right" %>
                </div>
            <% end %>
        </div>
    </div>
</div>
