<div align="center">
  <h3>Send A message to Us</h3>
  <div class="container">
    <%= form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
        <%#= form.label :body, 'Announcement' %>
        <%= f.text_field :name, placeholder: 'Name', :required => true %>
        <%= f.text_field :email, placeholder: 'Email', :required => true %><br />
        <%= f.text_area :message, placeholder: 'Type a few words...', :as => :text, :required => true %>
        <div class= "hidden">
        <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div>
        </br>
        <%= f.submit 'Send Message', class: 'btn btn-primary pull-right' %>
        </div>
    <% end %>
  </div>
</div>
