<h2><%= @page_title %></h2>

<%= form_for [:admin, @category] do |form| %>
    <!-- check for erros -->
  <% if @category.errors.any? %>
      <% @category.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger">
              <%= msg %>
          </div>
      <% end %>
  <% end %>

  <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
  </div>
  <br/>
  <%= form.submit "Update", class: 'btn btn-primary' %>
  <%= link_to "Cancel", admin_categories_path, class: 'btn btn-default' %>
<% end %>
