<section>
  <div class="content row">
    <div class="col-md-12">
      <table class="table table-striped">
        <tr>
          <th>Catergories Title</th>
          <th>Created Date</th>
          <th>Catergories Actions</th>
        </tr>
        <% @categories.each do |category|  %>
        <tr>
          <td><%= category.name %></td>
          <td><%= category.created_at.to_time.strftime('%B %e at %l:%M %p') %></td>
          <td><%= link_to "Edit", edit_admin_category_path(category), class: 'btn btn-primary' %> <%= link_to "Delete", admin_category_path(category), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </table>
      <div class="add-categorie">
        <%= link_to "Add Category", new_admin_category_path, class: "btn btn-primary pull-right" %>
      </div>
    </div>
    <!-- End of col-md-12 below section -->
  </div>
  <!-- End of row below section -->
</section>
