<!-- Start of first  column -->
<div class="design-border col-md-1">
    <div class="row">
        <div class="col-md-12">
            <%= image_tag 'me.jpg', :class => 'portrait' %>
        </div>
        <div class="category-links col-md-12">
          <% @categories.each do |category| %>
            <%= link_to category.name, category_path(category.id), class: 'feature-group-item' %>
          <% end %>
        </div>
    </div>
</div>
<!-- Start of second  columne -->
<div class="second-column col-md-2">
    <div class="row">
        <div class="col-md-12">
            <% @group_of_blogs[1].each do |blog| %>
                <h4><%= blog.title %></h4>
                <p>
                    <%= raw blog.body.truncate(200) %>
                    <small><%= link_to "Read More", post_path(blog) %></small>
                </p>
                <small class="return">by: <%= blog.user.name %><br />
                  <%= blog_date(blog.created_at) %>
                </small>
                <div class="comment-box">
                    <div class="row">
                        <div class="col-sm-6">
                          <span>Comments: <%= @main_blog.comments.length %></span>
                        </div>
                        <div class="col-sm-6 pull-right">
                            <span class="pull-right likes">
                              <i class="fa fa-heart-o" aria-hidden="true"></i> 54
                            </span>
                        </div>
                    </div>
                </div>
                <hr class="style1" />
            <% end %>
        </div>
    </div>
</div>
<!-- Start of middle column -->
<div class="main-blog col-md-5">
    <div class="row">
        <div class="col-md-12">
            <div class="main-blog-title">
                <span><%= @main_blog.category.name %></span>
            </div>
            <div class="post">
            <%= image_tag @main_blog.image.url, :class => 'main-blog-image' %>
                <small class="pull-right">Credit for the pictrue</small>
                <h2><%= @main_blog.title %></h2>
                <p>
                    <%= raw @main_blog.body.truncate(200) %>
                    <small><%= link_to "Read More", post_path(@main_blog) %></small>
                </p>
                <small class="return">by: <%= @main_blog.user.name %><br />
                  <%= blog_date(@main_blog.created_at) %>
                </small>
                <div class="comment-box">
                    <div class="row">
                        <div class="col-sm-6">
                          <span>Comments: <%= @main_blog.comments.length %></span>
                        </div>
                        <div class="col-sm-6 pull-right">
                            <span class="pull-right likes">
                              <i class="fa fa-heart-o" aria-hidden="true"></i> 54
                            </span>
                        </div>
                    </div>
                </div>
                <hr class="style1" />
            </div>
        </div>
            <% @group_of_blogs[2].each do |blog| %>
        <div class="col-md-6">
            <div class="post">
                <h4><%= blog.title %></h4>
                <p>
                    <%= raw blog.body.truncate(200) %>
                    <small><%= link_to "Read More", post_path(blog) %></small>
                </p>
                <small class="return">by: <%= blog.user.name %><br/>
                  <%= blog_date(blog.created_at) %>
                </small>
                <div class="comment-box">
                    <div class="row">
                        <div class="col-sm-6">
                          <span>Comments: <%= @main_blog.comments.length %></span>
                        </div>
                        <div class="col-sm-6 pull-right">
                            <span class="pull-right likes">
                              <i class="fa fa-heart-o" aria-hidden="true"></i> 54
                            </span>
                        </div>
                    </div>
                </div>
                <hr class="style1" />
            </div>
        </div>
            <% end %>
    </div>
</div>
<!-- Start of far right column -->
<div class="design-border col-md-4">
    <div class="row">
        <div class="col-md-12">
            <div id="tabs">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-modified" role="tablist">
                    <li role="presentation" class="active"><a href="#quote" aria-controls="quote" role="tab" data-toggle="tab">Quote</a></li>
                    <li role="presentation"><a href="#sports" aria-controls="sports" role="tab" data-toggle="tab">Sports</a></li>
                    <li role="presentation"><a href="#weather" aria-controls="weather" role="tab" data-toggle="tab">Weather</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content tab-content-modified">
                    <div role="tabpanel" class="tab-pane active" id="quote"><%= render 'quotes' %></div>
                    <div role="tabpanel" class="tab-pane" id="sports"><%= render 'sports' %></div>
                    <div role="tabpanel" class="tab-pane" id="weather"><%= render 'weather' %></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <%= image_tag 'cartoon.png', :class => 'cartoon-image', :alt => 'Image of cartoon' %>
        </div>
    </div>
</div>
