<div class="main-blog col-md-8 col-md-offset-2">
  <div class="row">
    <div class="col-md-12">
      <div class="main-blog-title">
          <%= @blog.title %>
      </div>
      <div class="post">
        <%= image_tag @blog.image.url, :class => 'main-blog-image' %>
        <small class="pull-right">Credit for the pictrue</small>
        <p class="blog-content">
          <%= raw @blog.body %>
        </p>
        <small>by: <%= @blog.user.name %></small>
        <small><%= blog_date(@blog.created_at) %></small>
        <%= render 'partials/comments' %>
      </div>
    </div>
  </div>
</div>
