<div class="main-blog col-md-8 col-md-offset-2">
    <div class="row">
        <div class="col-sm-12">
            <% if flash[:notice] %>
                <div class="alert alert-success">
                    <%= flash[:notice] %>
                </div>
            <% end %>

            <% if flash[:alert] %>
                <div class="alert alert-danger">
                    <%= flash[:alert] %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-blog-title">
                <%= @blog.title %>
            </div>
            <div class="post">
                <div class="post-image">
                    <% if @blog.image.url == 'ohno.gif' %>
                        <%= image_tag @blog.image.url, :class => 'default-img' %>
                    <% else %>
                        <%= image_tag @blog.image.url, :class => 'main-blog-image' %>
                    <% end %>
                </div>
                <!-- TODO this needs to be fixed in that if the picture is smaller it ends up on the top right -->
                <div>
                    <small class="pull-right">Credit for the pictrue</small>
                </div>
                <p class="blog-content">
                    <%= raw @blog.body %>
                </p>
                <hr class="comment-line"/>
                <p>
                    <%= @post.comments.length %> Comments
                </p>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1">Leave a comment</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <%= form_for [@post, Comment.new] do |f| %>
                                    <%= f.text_area :body, placeholder: "Add a comment", class: 'add-comment-box' %><br/>

                                    <p>
                                        Email: (Will remain private) <br/>
                                    </p>
                                    <%= f.text_field :email %> <span class="star"> *</span> <br />
                                    <p>
                                        Name: (As you want it to appear) <br/>
                                    </p>
                                    <%= f.text_field :name %> <span class="star"> *</span> <br />
                                    <%= f.submit "Add Comment", class: 'btn btn-primary pull-right' %>
                                <% end %>
                            </div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                </div>
                <br/>
                <ul style="list-style-type: none">
                    <%= render(partial: 'partials/comment', collection: @post.comments) %>
                </ul>
            </div>
        </div>
    </div>
</div>
