<!DOCTYPE html>
<html>
<head>
  <title>TroysBlog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Gravitas+One' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="bootstrap.min.js"></script>
</head>
<body>
    <div class="navigation-container">
        <div class="top-navigation">
          <%= render 'layouts/top_navigation' %>
        </div>
    </div><!-- End of navigation-container -->

    <div class="blog-header">
        <div class="row">
            <div class="col-md-2">
                a pictrue will go here
            </div>
            <div class="col-md-8 <%= @css_sytle %>">
                <%= @page_title %>
            </div>
            <div class="col-md-2">
                maybe a picture here too
            </div>
        </div>
    </div>

    <div class="sub-header">
        <div class="col-md-12">
            <form class="search-form navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <section>
        <div class="content row">
            <div class="col-md-12">
                    <%= yield %>
            </div><!-- End of col-md-12 below section -->
        </div><!-- End of row below section -->
    </section>

    <footer>
        <div class="footer-container">
            <div class="footer">
              <small>This is the footer | <%= link_to "Admin Login", admin_posts_path, target: '_blank' %>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
            ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>
   $(document).ready(function(){
     setTimeout(function(){
       $('#flash').remove();
     }, 5000);
   })
  </script>
</body>
</html>
