<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>TroysBlog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Gravitas+One' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
  

<!-- TODO this script throws an error so I commented it out. everything seems to work without this..?? 2-25-2017-->
  <!-- <script src="/app/assets/javascripts/bootstrap.min.js"></script> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="MainCtrl as main">
    <div class="navigation-container">
        <div class="top-navigation">
          <%= render 'layouts/top_navigation' %>
        </div>
    </div><!-- End of navigation-container -->
    <div class="blog-header">
        <div class="">
            <div class="col-md-2">
                <a href="http://www.divegalaxsea.com/" target="_blank">
                <%= image_tag 'diveGalaxsea.png', alt: 'Image of dive Galaxsea', class: 'project-image' %>
                </a>
                <br />
                <span id="popover" class="project-text" data-container="body" data-toggle="popover" data-placement="right" data-title="Latest Project:" data-content="Dive operation in Mexico" style="cursor:help">Project:</span>
            </div>
            <div class="col-md-8">
                <%= @blog_title %>
            </div>
            <div class="col-md-8 <%= @css_sytle %>">
                <%= @page_title %>
            </div>
            <div class="col-md-2 text-center">
                <a href="https://yourresume.herokuapp.com/" target="_blank">
                <%= image_tag 'yourResume.png', alt: 'Image of Your Resume', class: 'project-image' %>
                </a>
                <br />
                <span id="popover-two" class="project-text" data-container="body" data-toggle="popover" data-placement="left" data-title="Latest Project:" data-content="Build your resume" style="cursor:help">Project:</span>
            </div>

        </div>
    </div>

<!-- TODO rename this file below it is a search and  line -->
    <%= render 'partials/search' %>

    <section>
        <div class="content row">
            <div class="col-md-12">
                    <%= yield %>
            </div><!-- End of col-md-12 below section -->
        </div><!-- End of row below section -->
    </section>

    <footer>
        <div class="footer-container">
            <div class="footer">
              <small>This is the footer | <%= link_to "Admin Login", admin_posts_path, target: '_blank' %>
            </div>
        </div>
    </footer>

  <script>
   $(document).ready(function(){
     setTimeout(function(){
       $('#flash').remove();
     }, 5000);
   })

   $("#popover").popover({ trigger: "hover" });
   $("#popover-two").popover({ trigger: "hover" });
  </script>

</body>
</html>
